@model Blogging.Models.PostCreateVM
   
<form asp-controller="blog" asp-action="create" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        @Html.LabelFor(model => model.Post.Title)
        @Html.TextBoxFor(model => model.Post.Title, new { @class="form-control"}) 
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Post.Content)
        @Html.TextAreaFor(model => model.Post.Content, new { @class="form-control", @rows = 5}) 
    </div>
     <div class="form-group">
        <div class="col-md-10">
            <select asp-for="SelectedAuthorId" asp-items="Model.AuthorList"></select> 
            <span asp-validation-for="SelectedAuthorId" class="text-danger"></span>
        </div>
      
    </div>
    <button asp-controller="blog" asp-action="create" type="submit" class="btn btn-success" value="Save">Publish post</button>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>